---
title: Home
layout: base.njk
---

<section class="hero">
  <h1>shady</h1>
  <p>19 | Reverse Engineering | Digital Forensics and Incident Response | Malware Analysis</p>
</section>

<div class="post-list">
  <h2 class="post-list-title">Latest Posts</h2>
  {%- for post in collections.posts -%}
    <div class="post-preview">
      <time datetime="{{ post.date | date('yyyy-MM-dd') }}">{{ post.date | postDate }}</time>
      <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
      {% if post.data.description %}
        <p>{{ post.data.description }}</p>
      {% endif %}
    </div>
  {%- endfor -%}
</div>