---
title: Home
layout: base.njk
---

<section class="hero">
  <h1>shady</h1>
  <p>19 | Reverse Engineering | Digital Forensics and Incident Response | Malware Analysis</p>
</section>

<div class="post-list">
  <h2 class="list-title"><span>📬</span> Latest Posts</h2>
  {%- for post in collections.posts | reverse -%}
    {% include "post-preview.njk" %}
  {%- endfor -%}
</div>